<%- include('partials/homeHeader') %>
<section class="free">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="free__content">
                    <h1>Free FootLong When you Buy 2!</h1>
                    <h2>Now only In The App Or Online</h2>
                    <p class="main">
                        Discount shows in cart if a shop is participating.
                        Check before placing your order.
                    </p>
                    <div class="free__button">
                        <a href="#" class="free__link" role="button">Order Now</a>
                    </div>
                    <p class="sub">
                        Free sub of equal/lesser price. At participating restaurants. Extras addt'I. Some subs shown with Extras. No asst'I 
                        discounts. No delivery.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="food">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="food__content">
                    <div class="food__images">
                        <img src="/images/cookie-img-min.jpg" alt="cookie-img-min">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="food__content">
                    <div class="food__images">
                        <img src="/images/Deliver-UberEat-grubhub-img-min.jpg" alt="Deliver-UberEat-grubhub-img-min">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="food__content">
                    <div class="food__images">
                        <img src="/images/Sandwish-img-min.jpg" alt="Sandwish-img-min">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="home__images text-center">
                    <h2 class="kn">Home-Gating?</h2>
                    <span>Great PLay</span>
                    <p class="main">
                        Order online for contactless payment <br>
                        and quick and easy pickup
                    </p>
                    <div class="home__button">
                        <a href="#" class="home__link">Order Now</a>
                    </div>
                    <p class="sub">
                        All Chip-related trademark are owned by Frito-Lay North American, Inc &COPY; 2020
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="home__images2 text-center">
                    <h2 class="kn">Do the #FootlongShuffle on TikTok and we'll donate <br>
                    $1 to NFL PLAY 60 programs!</h2>
                    <div class="home__button2">
                        <a href="#" class="home__link">Check it Out</a>
                    </div>
                    <p class="sub">
                        Subway will donate $1 for every Footlong Shuffle video posted TikTok, in conjunction with the $500,000
                        donation for each NFL player on-field shuffle, to PLAY 60 Programs up to $1M thru 11/30/20. Limit of 1 
                        donation made per account.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-12 king">
                <div class="hero__content">
                    <h2>Give Your Hero An Egift Card</h2>
                    <p>
                        Celebrate National First Resonders Day, October 28th.
                    </p>
                    <div class="home__button">
                        <a href="#" class="home__link">Check it Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="earn">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="earn__content">
                    <h2>Earn While You Eat</h2>
                    <p>PS: Get the app to order, track, and get your rewards!</p>
                    <div class="home__button">
                        <a href="#" class="home__link">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tasty">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 co-12">
                <div class="tasty__images text-center">
                    <p>Fresh veggies. Quality food. Smarter nutrition</p>
                    <div class="home__button">
                        <a href="#" class="home__link">Eat Better</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="tasty__content">
                            <div class="tasty__imagesd">
                                <img src="/images/Fresh-veggie-quality-food-side-left-bg-min.jpg" alt="Fresh-veggie-quality-food-side-left-bg-min">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="tasty__content">
                            <div class="tasty__imagesd">
                                <img src="/images/Fresh-veggie-quality-food-right-side-bg-min.jpg" alt="Fresh-veggie-quality-food-side-right-bg-min">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="tasty__content">
                            <div class="tasty__imagesd">
                                <img src="/images/Fresh-veggie-quality-food-bottom-bg-min.jpg" alt="Fresh-veggie-quality-food-bottom-bg-min">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="changenot">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="changenot__content">
                    <h2>Making Change for Good</h2>
                    <p>
                        We're taking a fresh at how we make an impact on the world 
                        around us. It's our responsiblity, and we apsire to do better every day
                    </p>
                    <div class="home__buttonc">
                        <a href="#" class="home__link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="commit">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="commit__bg">
                    <div class="commit__content text-center">
                        <h2>We commit to doing better</h2>
                        <p>In our restaurant, our food, and our neighborhoods</p>
                        <div class="home__buttonc">
                            <a href="#" class="home__link">What We Do</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 co-12">
                <div class="commit__content">
                    <div class="commit__images">
                        <img src="/images/Heart-Sandwish-img-min.jpg" alt="Heart-Sandwish-img-min">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="order">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="order__content">
                    <h2>Order how you want where you want.</h2>
                    <p>Getting Subway has never been easier!</p>
                    <div class="order__button">
                        <a href="#" class="order__link" role="button">Order Pickup</a>
                        <a href="#" class="order__link" role="button">Order Delivery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>