.changenot{
    margin: 2rem 0 2rem 0;
    padding: 13rem 0 1rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.14)), url(/images/Making-change-for-good-bg-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
}