.earn{
    margin: 3rem 0 2rem 0;
    padding: 12rem 0 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2)), url(/images/Earn-while-you-eat-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
}