.order{
    margin: 2rem 0 2rem 0;
    padding: 10rem 0 1rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.06)), url(/images/Order-how-you-want-where-you-want-bg-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23rem;
}